CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.indexPage = ''
app.defaultLocale = 'en'
app.negotiateLocale = false
app.forceGlobalSecureRequests = false
app.appTimezone = 'Asia/Manila'

encryption.key = 'replace-with-a-long-random-secret-key'

MySQL_Database_URL = 'MySQLi://jrmsu_user:change_me@127.0.0.1:3306/jrmsu_tc_cafeteria?charset=utf8mb4&DBCollat=utf8mb4_unicode_ci'

CAFETERIA_NAME = 'JRMSU-TC Cafeteria'
CAFETERIA_CURRENCY = 'PHP'
CAFETERIA_TIMEZONE = 'Asia/Manila'
CAFETERIA_DELIVERY_FEE = 20.00
CAFETERIA_ORDER_PREFIX = 'JRMSU'

SESSION_COOKIE_NAME = 'jrmsu_tc_cafeteria_session'
UPLOAD_MAX_SIZE_MB = 5
